@tailwind base;
@tailwind components;
@tailwind utilities;

.monaco-editor-background,
.monaco-editor {
  background-color: transparent !important;
  outline: none !important;
}

.monaco-editor .margin {
  background-color: transparent !important;
}

.monaco-editor .current-line {
  background-color: #0f0f36 !important;
}

.active-line-highlight {
  background-color: #0f0f36 !important;
}

.monaco-editor {
  font-family: "regular", Consolas, "Courier New", monospace !important;
}

.monaco-editor .mtk {
  font-family: "regular", Consolas, "Courier New", monospace !important;
}

.cutout-box {
    position: relative;
    border-radius: 30%;
  }
  
  .cutout-box::after {
    content: "";
    position: absolute;
    top: -16px;
    right: -16px;
    width: 65px;
    height: 65px;
    background-color: transparent;
    border-radius: 50%;
    box-shadow: 0 0 0 9999px #000;
  }